{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}brainwaveio | Landing Page Template{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- =============================================== -->
    <!-- Favicons -->
    <!-- =============================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- =============================================== -->
    <!-- Stylesheets -->
    <!-- =============================================== -->
    <link rel="stylesheet" href="{% static 'vendors/swiper/swiper-bundle.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- Add any additional CSS or meta tags here -->
    <style>{% block css %}{% endblock %}</style>

</head>
<body>
    <!-- Include the header -->
    <main class="main" id="top">
        <div class="content">
            {% include 'base/header.html' %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert" style="margin-top: 83px;">
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
            </div>
             {% endfor %}
            {% comment %} {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %} {% endcomment %}

            <!-- Content block, to be overridden by child templates -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Include the footer -->
            {% include 'base/footer.html' %}
        </div>
    </main>

    <!-- =============================================== -->
    <!-- JavaScripts -->
    <!-- =============================================== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'vendors/countup/countUp.umd.js' %}"></script>
    <script src="{% static 'vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script type="text/javascript"> 
        setTimeout(function () { 
            $('.alert').alert('close'); 
        }, 3000); 
    </script> 

    <!-- Add any additional scripts here -->
    <script>{% block js %}{% endblock %}</script>
    
</body>
</html>
