
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>{% block css %}{% endblock %}</style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/qrcode.min.js"></script> {% endcomment %}
</head>
<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}{% endblock %}
{% comment %} <script>   {% endcomment %}
    {% block js %}
   
    {% endblock %}
{% comment %} </script> {% endcomment %}

</body>
</html>
