
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style></style>
    
    
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/qrcode.min.js"></script> {% endcomment %}
</head>
<body>
  {% include 'base/header.html' %}

{% block content %}{% endblock %}
{% comment %} <script>   {% endcomment %}
    {% block js %}
   
    {% endblock %}
{% comment %} </script> {% endcomment %}

</body>
</html>
